body {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black
}

h1 {
  color: orange;
  text-align: center
}

h2 {
  color: green;
  text-align: center
}

#todo_list {
  margin: 10px;
  padding: 10px;
  color: white
}

form {
  margin: 10px;
  padding: 10px
}

p {
  color: white
}